<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      .center-div
      {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 400px;
        height: 250px;
        border-radius: 3px;
        background-color: #ccc;
      }
      tr, td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <div class="center-div">
      <a href="https://bigbluebutton.org/" target="_new">
        <h2 style="size: 20px; text-align: center;">Welcome to BigBlueButton meeting!</h2>
      </a>
      <p style="margin-top: 30px; text-align: center; margin-left: 5px; margin-right: 5px; word-wrap: break-word;">
        &nbsp;This meeting has already ended, please contact the organizer of the meeting for more information.
      </p>
    </div>
  </body>
</html>